[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"

[packages]
django = "*"
qrcode = {extras = ["pil"],version = "*"}

[requires]
python_version = "3.7"
